/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    height: 2000px;
}

/* navbar */


nav {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: fixed;
    width: 100%;
}

nav img {
    transform: scale(70%);
    position: absolute;
    top: -9px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 20px;
    padding: 0 10px;
    border: 2px solid white;
    height: 50px;
}

nav a p {
    text-align: center;
    line-height: 50px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* header */
.header {
    display: grid;
    grid-template-areas: 'desc thumb';
    height: 715px;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: #EBE9E6;
}

.header .left-desc {
    grid-area: desc;
    margin-top: 100px;
    padding: 30px;
}

.header .left-desc h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 30px;
}

.header .left-desc p {
    font-size: 1.3rem;
    word-spacing: 5px;
    margin-bottom: 15px;
}

.header .left-desc a {
    display: block;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
    width: 150px;
    height: 30px;
}

.header .left-desc a p {
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.header .right-thumb {
    grid-area: thumb;
    background-image: url(/img/mads-eneqvist-zqiE16q_Ju0-unsplash.jpg);
    background-size: cover;
    height: 715px;
    background-position: 0px -155px;
}