/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* font */
.container {
    height: 2000px;
    font-family: "Montserrat", sans-serif;
}


/* Form (just a placeholder until i can learn php or something that can i use to make a working form)*/

.form {
    height: 350px;
    background-color: #EBE9E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.form .form-left h1{
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.form .form-left p {
    font-size: 1.2rem;
}

.form-signup label {
    font-size: 1.3rem;
}

.form-signup #fname, #lname, #email, #Bday, #Aniv {
    width: 350px;
    height: 15px;
    margin-bottom: 10px;
}

.form-signup #signup {
    transform: scale(170%);
    margin-left: 20px;
    box-shadow: none;
    border: 1px solid black;
}

/* info section */

.info {
    background-color: #D5DDDB;
    height: 550px;
    display: flex;
}

.info h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.info-left {
    display: grid;
    grid-template-areas:'header header header'
                        'side-1 side-2 side-3';
    grid-template-rows: 130px;
    grid-template-columns: 0.5fr 0.7fr 1fr;
    flex-grow: 3;
    font-size: 1rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.info-left img {
    grid-area: header;
    
}

.info-left .left-1 {
    grid-area: side-1;
}

.info-left .left-1 ul li {
    margin: 10px 0;
}

.info-left .left-1 ul li a {
    text-decoration: none;
    color: black;
}

.info-social {
    margin-top: 20px;
    margin-left: -5px;
}

.info-social svg {
    margin-right: 8px;
}

.info-left .left-2 {
    grid-area: side-2;
}

.info-left .left-3 {
    grid-area: side-3;
}

.left-3 p {
    margin-bottom: 25px;
}

.left-3 a {
    display: block;
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 20px;
    padding: 0 10px;
    border: 2px solid black;
    height: 30px;
    width: 300px;
    float: left;
}

.left-3 a p {
    text-align: center;
    line-height: 30px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.info-location {
    width: 1700px;
    padding: 40px;
    background-color: #DCE4E7;
}

.info-location h1 {
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 50px ;
    margin-top: 10px;
}

.info-location ul li  {
    margin-bottom: 38px;
    font-size: 1.5rem;
}

.info-location ul li a {
    text-decoration: none;
    color: black;
}

/* footer */

footer {
    background-color: rgb(24, 24, 24);
    height: 75px;
}

footer span p {
    color: white;
    text-align: center;
    line-height: 75px;
    letter-spacing: 2px;
    font-size: 1rem;
}