/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    height: 2000px;
}

/* navbar */


nav {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav img {
    transform: scale(70%);
    position: absolute;
    top: -9px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 20px;
    padding: 0 10px;
    border: 2px solid white;
    height: 50px;
}

nav a p {
    text-align: center;
    line-height: 50px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* header */
.header {
    display: grid;
    grid-template-areas: 'desc thumb';
    height: 715px;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: #EBE9E6;
}

.header .left-desc {
    grid-area: desc;
    margin-top: 100px;
    padding: 30px;
}

.header .left-desc h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 30px;
}

.header .left-desc p {
    font-size: 1.3rem;
    word-spacing: 5px;
    margin-bottom: 15px;
}

.header .left-desc a {
    display: block;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
    width: 150px;
    height: 30px;
}

.header .left-desc a p {
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.header .right-thumb {
    grid-area: thumb;
    background-image: url(/img/mads-eneqvist-zqiE16q_Ju0-unsplash.jpg);
    background-size: cover;
    height: 715px;
    background-position: 0px -155px;
}

/* Nav Menu Section */
.menu .menu-nav {
    background-color: #D4DDDA;
    height: 100px;
    display: grid;
    grid-template-areas: 'menu1 menu2 menu3 drink';
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* for buttom active */
.menu-nav .nav-1 {
    background-color: #DCE4E7;
}
/* end */

.menu-nav .nav-1, .nav-2, .nav-3, .nav-4{
    justify-content: center;
    text-align: center;
    display: block;
    line-height: 100px;
    color: black;
}

.menu-nav .nav-1:hover, .nav-2:hover, .nav-3:hover, .nav-4:hover {
    background-color: #DCE4E7;
}

.menu-nav .nav-1 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.menu-nav .nav-2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.menu-nav .nav-3 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.menu-nav .nav-4 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}

/* Menu Content */

.menu .menu-container {
    background-color: #DCE4E7;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.2rem;
}

.menu-container h3 {
    font-size: 1.5rem;
    margin-top: 30px;
}

.menu-container h3, h5{
    font-weight: bold;
}

.menu-container p, h5{
    margin-bottom: 10px;
}

/* Form (just a placeholder until i can learn php or something that can i use to make a working form)*/

.form {
    height: 350px;
    background-color: #EBE9E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.form .form-left h1{
font-weight: bold;
font-size: 3rem;
text-transform: uppercase;
margin-bottom: 30px;
}

.form .form-left p {
    font-size: 1.2rem;
}

.form-signup label {
    font-size: 1.3rem;
}

.form-signup #fname, #lname, #email, #Bday, #Aniv {
    width: 350px;
    height: 20px;
    margin-bottom: 10px;
}

.form-signup #signup {
    transform: scale(170%);
    margin-left: 20px;
    box-shadow: none;
    border: 1px solid black;
}

/* info section */

.info {
    background-color: #D5DDDB;
    height: 540px;
    display: flex;
}

.info h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
}

.info-left {
    display: grid;
    grid-template-areas:'header header header'
                        'side-1 side-2 side-3';
    grid-template-rows: 130px;
    grid-template-columns: 0.5fr 0.7fr 1fr;
    flex-grow: 3;
    font-size: 1.2rem;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.info-left img {
    grid-area: header;
    
}

.info-left .left-1 {
    grid-area: side-1;
}

.info-left .left-1 ul li {
    margin: 10px 0;
}

.info-left .left-1 ul li a {
    text-decoration: none;
    color: black;
}

.info-social {
    margin-top: 20px;
    margin-left: -5px;
}

.info-social svg {
    margin-right: 8px;
}

.info-left .left-2 {
    grid-area: side-2;
}

.info-left .left-3 {
    grid-area: side-3;
}

.left-3 p {
    margin-bottom: 25px;
}

.left-3 a {
    display: block;
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 20px;
    padding: 0 10px;
    border: 2px solid black;
    height: 30px;
    width: 300px;
    float: left;
}

.left-3 a p {
    text-align: center;
    line-height: 30px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.info-location {
    width: 1700px;
    padding: 40px;
    background-color: #DCE4E7;
}

.info-location h1 {
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 50px ;
    margin-top: 10px;
}

.info-location ul li  {
    margin-bottom: 38px;
    font-size: 1.5rem;
}

.info-location ul li a {
    text-decoration: none;
    color: black;
}